In [5]:
import pandas as pd

In [7]:
data = pd.read_csv("/Users/rishigummakonda/Documents/Springboard/capstone/data/atlas.csv")

In [8]:
data.shape

(73278, 63)

In [10]:
data.head(5)

,tract,county,state,cz,czname,hhinc_mean2000,mean_commutetime2000,frac_coll_plus2010,frac_coll_plus2000,foreign_share2010,...,kfr_white_p25,kfr_white_p75,kfr_white_p100,count_pooled,count_white,count_black,count_asian,count_hisp,count_natam,mergecounts
0,20100,1,1,11101.0,Montgomery,68638.727,26.171911,0.254428,0.156479,0.009950,...,30327.947,50820.145,75126.031,519.0,457.0,42.0,3.0,4.0,6.0,matched (3)
1,20200,1,1,11101.0,Montgomery,57242.512,24.806705,0.267194,0.146932,0.016337,...,42188.813,54239.121,66645.695,530.0,173.0,336.0,1.0,5.0,1.0,matched (3)
2,20300,1,1,11101.0,Montgomery,75647.727,25.322525,0.164159,0.224413,0.027096,...,33670.453,51579.383,71990.969,960.0,774.0,151.0,1.0,21.0,2.0,matched (3)
3,20400,1,1,11101.0,Montgomery,74852.055,22.965347,0.252744,0.230469,0.015083,...,34181.051,52847.863,74330.250,1123.0,1033.0,40.0,6.0,37.0,0.0,matched (3)
4,20500,1,1,11101.0,Montgomery,96174.766,26.222353,0.375063,0.321154,0.046488,...,39540.148,58699.035,80415.094,1867.0,1626.0,137.0,13.0,39.0,8.0,matched (3)

In [11]:
training = pd.io.stata.read_stata('/Users/rishigummakonda/Documents/Springboard/capstone/data/training_data/atlas_training.dta')

In [12]:
training.shape

(2518, 128)

In [13]:
training.head(5)

,geoid,place,pop,housing,kfr_pooled_p25,test,training,P_1,P_2,P_3,...,P_112,P_113,P_114,P_115,P_116,P_117,P_118,P_119,P_120,P_121
0,1003.0,Baldwin County,187114,104061,0.388847,0.0,1.0,82.847946,98.593452,101.776711,...,0.0,19.100000,0.00,2.01,0.00,3.52,0.0,0.00,0.0,0.0
1,1005.0,Barbour County,27321,11829,0.349386,0.0,1.0,76.313896,93.878723,90.702942,...,0.0,45.160000,0.00,4.84,0.00,1.61,0.0,3.23,0.0,0.0
2,1007.0,Bibb County,22754,8981,0.363391,0.0,1.0,73.765617,104.868469,82.129547,...,0.0,30.910000,0.00,7.27,0.00,1.82,0.0,0.00,0.0,0.0
3,1013.0,Butler County,20624,9964,0.357249,0.0,1.0,92.096672,121.073296,117.823196,...,0.0,41.070000,0.00,5.36,0.00,1.79,0.0,0.00,0.0,0.0
4,1015.0,Calhoun County,117714,53289,0.361847,0.0,1.0,76.938210,95.478249,98.326622,...,0.0,18.790001,0.61,3.03,0.61,2.42,0.0,0.00,0.0,0.0

In [14]:
data['kfr_pooled_p25']

0        27620.955000
1        22303.059000
2        28215.480000
3        33330.898000
4        34632.664000
5        23583.006000
6        27611.566000
7        22428.000000
8        27915.449000
9        26083.721000
10       27220.902000
11       24694.305000
12       29388.381000
13       31709.926000
14       29907.438000
15       30287.645000
16       36919.719000
17       24884.184000
18       33292.320000
19       34208.621000
20       38439.152000
21       30646.416000
22       28831.102000
23       27713.443000
24       28022.727000
25       32878.301000
26       30347.131000
27       29492.154000
28       33312.891000
29       35509.430000
             ...
73248             NaN
73249             NaN
73250             NaN
73251             NaN
73252             NaN
73253     7833.852100
73254             NaN
73255             NaN
73256     4431.557600
73257        8.840433
73258             NaN
73259             NaN
73260    17236.348000
73261             NaN
73262    11156.378000
73263    16210.996000
73264     8474.269500
73265             NaN
73266             NaN
73267    20929.406000
73268             NaN
73269             NaN
73270             NaN
73271    37843.938000
73272             NaN
73273             NaN
73274             NaN
73275             NaN
73276             NaN
73277             NaN
Name: kfr_pooled_p25, Length: 73278, dtype: float64