In [5]:
import pandas as pd

In [7]:
data = pd.read_csv("/Users/rishigummakonda/Documents/Springboard/capstone/data/atlas.csv")

In [8]:
data.shape

(73278, 63)

In [10]:
data.head(5)

,tract,county,state,cz,czname,hhinc_mean2000,mean_commutetime2000,frac_coll_plus2010,frac_coll_plus2000,foreign_share2010,...,kfr_white_p25,kfr_white_p75,kfr_white_p100,count_pooled,count_white,count_black,count_asian,count_hisp,count_natam,mergecounts
0,20100,1,1,11101.0,Montgomery,68638.727,26.171911,0.254428,0.156479,0.009950,...,30327.947,50820.145,75126.031,519.0,457.0,42.0,3.0,4.0,6.0,matched (3)
1,20200,1,1,11101.0,Montgomery,57242.512,24.806705,0.267194,0.146932,0.016337,...,42188.813,54239.121,66645.695,530.0,173.0,336.0,1.0,5.0,1.0,matched (3)
2,20300,1,1,11101.0,Montgomery,75647.727,25.322525,0.164159,0.224413,0.027096,...,33670.453,51579.383,71990.969,960.0,774.0,151.0,1.0,21.0,2.0,matched (3)
3,20400,1,1,11101.0,Montgomery,74852.055,22.965347,0.252744,0.230469,0.015083,...,34181.051,52847.863,74330.250,1123.0,1033.0,40.0,6.0,37.0,0.0,matched (3)
4,20500,1,1,11101.0,Montgomery,96174.766,26.222353,0.375063,0.321154,0.046488,...,39540.148,58699.035,80415.094,1867.0,1626.0,137.0,13.0,39.0,8.0,matched (3)

In [ ]:
training = pd.read_csv("")